$bgcolor: #e9ecef;
$color1: #f8f9fa;
$color2: #dee2e6;
$color3: #ced4da;
$color4: #adb5bd;
$color5: #495057;
$color6: #343a40;
$color7: #212529;
$color8: #9500ff;

/*BGS*/
$bgradiend1: linear-gradient(135deg, #dfe9f3 0%, #ffffff 100%);