@use "./variables" as *;


.cards-gallery{
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    justify-content: center;
    padding: 3em 2.8em;
  img{max-width: 150px;}
}
.card-container{
  background-color: $color2;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  border-radius: 5px;
}