@use "./variables" as *;


.cards-gallery{
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 25px;
    justify-content: center;
    padding: 3em 2.8em;

    img{max-width: 100%;}
}
.card-container{
  background-color: $color2;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  border-radius: 5px;
}

.card-container .card-prev-img {
  width: 100%;
  height: 350px;
  object-fit: contain;
  border-radius: 10px;
}