@use "./variables" as *;
.modal-code{
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.158);
    backdrop-filter: blur(10px);
    width: 100%;
    height: auto;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 4;
    justify-content: center;
    align-items: center;
}
.open{
    display: flex;
}
.modal-content{
    background-color: white;
    width: 50%;
    max-height: 90%;
    padding: 1em;
    border-radius: 5px;
    animation: OpenIn .3s ease-in-out;
    overflow: auto;

    .modal-header{
        display: flex;
        justify-content: end;
        padding: .3em;
        position: sticky;
        top: 0;
        button{
            background-color: $color8;
            border: 0;
            cursor: pointer;
            padding: .5em;
            color: white;
            width: 50px;
            height: auto;
            border-radius: 5px;
        }
    }
    .code {
        background-color: #1e1e1e; 
        color: #ffffff; 
        padding: 16px;
        margin-top: .5em;
        overflow-x: auto;
        max-width: 100%;
        transition: .3s all ease;
    }
    &:hover .code{
        opacity: .9;
    }
    .code:hover{
        opacity: 1;
    }
    .code:hover .language{
        opacity: 1;
    }
    
    .code code {
        font-size: 14px;
        line-height: 1.5;
        white-space: pre-wrap;
        word-break: break-word; /* Evita que palabras muy largas rompan el diseño */   
    }

    
    /* scrollbar*/
    .code pre::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    
    .code pre::-webkit-scrollbar-thumb {
        background: #555;
        border-radius: 10px;
    }
    
    .code pre::-webkit-scrollbar-thumb:hover {
        background: #777;
    }
    
    .code .language{
        display: flex;
        align-items: center;
        gap: 5px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.137);
        padding: .5em 0;
        opacity: 0.5;
        img{max-width: 30px;}
    }
}


@keyframes OpenIn{
    from{
        opacity: 0;
        transform: scale(0.5);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

@media screen and (max-width: 900px) {
    .modal-content{
        width: 90%;
    }
}