@use "variables" as *;

.navbar{
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0;
    width: 100%;
    padding: .5em;
    z-index: 4;
    position: fixed;
}

.navbar a{
    color: black;
    text-decoration: none;
}
.navbar h1{
    padding: .5em;
    transition: .5s all; 
}
.navbar a h1:hover{
    transform: rotate(180deg);
    color: $color8; 
}
ul{
    display: flex;
    gap: 15px;
    font-weight: 500;
    list-style: none;
    li a{
        display: inline-block;
        color: black;
        text-decoration: none;

        &:hover{
            color: $color8;
            border-bottom: 1px solid;
        }
    }
}